<html>
  <div class="p-5 pt-2">
    <nav-bar></nav-bar><br>
    <router-outlet></router-outlet>
    <div class="mx-auto p-2" style="width: 200px; background-color: green;">
      Centered element
    </div>
  </div>
  <div>
    <ng-container>
      <mat-tab-group [dynamicHeight]="true" class="mat-elevation-z4 roboCallProtectTab" [disableRipple]="true">
          <mat-tab [label]="'Contact Information'">
              <ng-template matTabContent>
                  <!--********Robocall List************-->
                  <ng-container *ngTemplateOutlet="contactInformation"></ng-container>
              </ng-template>
          </mat-tab>
          <mat-tab [label]="'Request Details'">
              <ng-template matTabContent>
                  <!--********Call Valdation Tratement************-->
                  <ng-container *ngTemplateOutlet="requestDetails"></ng-container>
              </ng-template>
          </mat-tab>
          <mat-tab [label]="'Issue Description'">
              <ng-template matTabContent>
                  <!--***********Caller Id Display***************-->
                  <ng-container *ngTemplateOutlet="issueDescription"></ng-container>
              </ng-template>
          </mat-tab>
          <mat-tab [label]="'Comment Log'">
              <ng-template matTabContent>
                  <!--************Selective call aceptance & rejection *************-->
                  <ng-container *ngTemplateOutlet="commentLog"></ng-container>
              </ng-template>
          </mat-tab>
      </mat-tab-group>
    </ng-container>  
  </div>
  <ng-template #contactInformation>
    Content 1
    <br><br><br>parimala<br>Bhargu<br>pari
  </ng-template>
  <ng-template #requestDetails>Content 2</ng-template>
  <ng-template #issueDescription>Content 3</ng-template>
  <ng-template #commentLog>Content 4</ng-template>

  
</html>

