/* You can add global styles to this file, and also import other style files */
html{
    background-color: #2b3e51;
    color:rgb(249, 247, 247);
    height:auto;
    width: 100%;
}
#block{
    background-color: #4e5f6d;
    padding: 20px;
    min-height: 210px;
}
#block:hover{background-color:#465564}
#block1{
    background-color: #4e5f6d;
    padding: 20px;
    height:auto;
}
.white{
    background-color: #4e5f6d;
    color:rgb(249, 247, 247);
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
